*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	min-width: 300px !important;
}
ul{
	padding: 0;
	margin: 0;
}
.header-logo{
	align-items: center;
	width: 90%;
	margin: 0 auto;
	height: 200px;
	display: flex;
	justify-content: center;
	position: relative;
}
.header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.social i{
}
.social-ul li{
	position: relative;
	width: 2vw;
	height: 2vw;
	align-items: center;
	display: flex;
	text-align: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	font-size: 1.4rem;
	padding: 30px;
	transition: ease .4s;
}

.social-ul li:before{
	content: '';
	border-radius: 50%;
	
	transform: scale(0);
	position: absolute;
	
	
	padding: 30px;
	border: 3px solid white;
	transition: .4s;
}
.social-ul li:hover:before{
	transform: scale(1);
}
@media screen and (max-width: 400px)
{
	.social-ul li{
		padding: 22.5px;
	}
	.social-ul li:before{
	content: '';
	border-radius: 50%;
	
	transform: scale(0);
	position: absolute;
	
	
	padding: 19px;
	border: 3px solid white;
	transition: .4s;
}
}
@media screen and (max-width: 360px)
{
	.social-ul li{
		padding: 18.5px;
	}

}
@media (min-width: 768px)
{
	.social-ul li{
		font-size: 2rem;
		margin: 10px;
	}
}
header{
	background: rgba(65,15,26,1);
background: -moz-linear-gradient(left, rgba(65,15,26,1) 0%, rgba(82,23,87,1) 41%, rgba(82,23,87,1) 96%, rgba(88,3,65,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(65,15,26,1)), color-stop(41%, rgba(82,23,87,1)), color-stop(96%, rgba(82,23,87,1)), color-stop(100%, rgba(88,3,65,1)));
background: -webkit-linear-gradient(left, rgba(65,15,26,1) 0%, rgba(82,23,87,1) 41%, rgba(82,23,87,1) 96%, rgba(88,3,65,1) 100%);
background: -o-linear-gradient(left, rgba(65,15,26,1) 0%, rgba(82,23,87,1) 41%, rgba(82,23,87,1) 96%, rgba(88,3,65,1) 100%);
background: -ms-linear-gradient(left, rgba(65,15,26,1) 0%, rgba(82,23,87,1) 41%, rgba(82,23,87,1) 96%, rgba(88,3,65,1) 100%);
background: linear-gradient(to right, rgba(65,15,26,1) 0%, rgba(82,23,87,1) 41%, rgba(82,23,87,1) 96%, rgba(88,3,65,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#410f1a', endColorstr='#580341', GradientType=1 );
}
.social-ul li:hover{                                                                      
	color: white;
	background: #26a626;
	 box-shadow: 0px 0px 20px 10px rgba(2, 124, 2, 0.6);
}
.social-ul{
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	list-style: none;
}

.social{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.header-logo span{
	font-size: 1.9rem;
	text-transform: uppercase;
	
	text-align: center;
	display: flex;
	justify-content: center !important;
	padding: 0;
}
@media screen and (max-width: 400px)
{
	.header-logo span{
		min-width: 15px;
		font-size: 115%;
		padding: 0;
		display: flex;
		justify-content: center;
	}
}


.logo{
	position: relative;
	max-width: 100%;
	width: 200px;
	padding: 25px;
	cursor: pointer;
	min-width: 125px;
}


@media screen and (max-width: 400px)
{
	.logo{
		padding: 10px;
	}
	.Fresher{
		padding: 5px;
		font-size: 1rem;
		min-width: 30px;
	}

}

.logo-before{
	margin: 0;
	padding: 0;
	position: relative;
cursor: pointer;
}


.Fresher:before{
	content: '';
	position: absolute;
	background:rgba(255,255,255, 0.7);
	z-index: 1;
	width: 10%;
	left: -20%;
	height: 80%;
	transform: skewX(-45deg);
	display: none;
	animation-duration: 4s;
	animation-timing-function: 1s;
	animation-iteration-count: infinite;
	display: none;
}
.Fresher:hover:before{
	display: flex;
	animation-name: blick;
}
@keyframes blick{
	0%{
		left: -8%;
	}
	40%{
		left: 110%;
	}
	100%{
		left: 110%;
	}
}
.Fresher{
	overflow: hidden;
	position: relative;
}
.logo-before:before{
	content: '';
	position: absolute;
	left: 5%;
	right: 5%;
	top: 5%;
	bottom: 5%;
	border-top: 2px solid rgba(255,255,255, 1);
	border-bottom: 2px solid rgba(255,255,255, 1);
	transform: scaleX(0);
	transition: .3s;
}
.logo-before:after{
	content: '';
	position: absolute;
	left: 5%;
	right: 5%;
	top: 5%;
	bottom: 5%;
	border-left: 2px solid  rgba(255,255,255, 1);
	border-right: 2px solid rgba(255,255,255, 1);
	transform: scaleY(0);
	transition: .3s;
}
.logo-before:hover:before,
.logo-before:hover:after{
	transform: scaleX(1);
	transform: scaleY(1);
}
.header-nav-div
{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
	background: #1A1A1A;
	height: 8vh;
}
.header-nav-div a
{
	overflow: hidden;
padding: 10px;
text-decoration: none;
color: white;
position: relative;
transition: all .3s;
padding: 10px !important;
}
.header-nav-div a:hover{
	box-shadow: 0 0 2px 1px rgba(0,0,0, 1);
	border-radius: 10%;

}
.header-nav-div a:before{
	width: 20%;
	content: '';
	position: absolute;
	height: 100%;
	transform: skewX(-45deg);
	background: rgba(255,255,255, 0.5);
	left: -50%;
	top: -10%;
	transition: all 1.3s;
}
.header-nav-div a:hover:before
{
	animation-name: blickHeader;
	animation-iteration-count: infinite;
	animation-duration: 3s;
}
.header-nav-div a:after{
	content: '';
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	border-top: 3px  solid rgba(255,255,255, 0.9);
	border-bottom: 3px  solid rgba(255,255,255, 0.9);
	transition: all .4s;
	transform: scaleX(0);
}
.header-nav-div a:hover:after{
	transform: scaleX(1);
}
@keyframes blickHeader{
	0%{
		left: -50%;
	}
	30%{
		left: 150%;
	}
	100%{
		left: 150%;
	}
}
@media screen and (max-width: 768px)
{
	body
	{
		font-size: 1rem;
	}
	#last{
		display: flex;
		justify-content: center;
		background: black;
		width: 45px;
		text-align: center;
		align-items: center;
		align-content: center;
		border-radius: 22px;
		height: 45px;
		padding: 7.5px;
		margin: 5px;
		transition: .2s;
		z-index: 3100 !important;

	}

	#last:before,
	#last:after {
		box-shadow: none !important;
		text-shadow: none !important;
		border: none !important;
		text-align: center;
		transform: scale(0) !important;
	}

}
@media screen and (max-width: 767px)
{
	.nav-menu-a:not(:last-child){
		display: none;
	}
	.header-nav-div{
		justify-content: flex-start;
	
	}
}
@media screen and (min-width: 768px)
{
	#last{
		display: none;
	}
	.span {
		display: none;
	}
}
.Fresher{
	transition: 0.3s;
	cursor: pointer;
}
.Fresher:hover{
	transform: scale(1.3);
	color: black;

}
@media screen and (max-width: 480px)
{
.span
{
	color: white;
margin-left: 5px !important;
padding-left: 1px !important;
}

}


@media (min-width: 1280px)
{
	.header-nav-div{
		font-size: 1.4rem;
	}
	.Fresher{
		font-size: 3rem !important;
		margin-left: 1.2vw;
	}
}

.modal-window{
	display: none;
	transition: all .9s;
	position: fixed;
	z-index: 200000 !important;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 50vw;
	margin-left: 25vw;
	height: 50vh;
	margin-top: 25vh !important;
	background: white;
	border-radius: 8px;
}

.podKLADka
{
	opacity: 0;
	display: none;
	transition: all .9s;


	width: 100vw;
	height: 100vh;
	background: black;
	z-index: 1100;
	background-color: rgba(0, 0, 0, .8);

	position: fixed;
}
.h2{
	margin-bottom: 2vh;
	color: white;
}
.modal-body button{
	z-index: 2000;
	width: 15vw;
	background: none;
	font-size: 1.3rem;
	border: 3px solid #09ae0f;
	height: 4vh;
	transition: all .4s;
	cursor: pointer;
}
.modal-body button:hover{
	background: none;
	border: 1px solid #09ae0f;
	border-radius: 3px;
	transform: scale(1.1);
}
.modal-body input{
	z-index: 2000 !important;
	margin-left: 7px;

	border-radius: 2px;
	position: static;
	width: 20vw;
	height: 3vh;
	outline: none;
	border-bottom: 2px solid #02b202 !important;
	border: none;
	background: none;
}
.modal-body{
	z-index: 2000;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media screen and (max-width: 767px)
{
	.modal-window{
		width: 65vw;
		margin-left: 22.5vw;
	}
	.modal-header p{
		font-size: 0.75rem;
	}
	.modal-body button{
		font-size: 0.6rem;
		width: 45vw;
	}
	.modal-body input{
		width: 50vw;
	}

}
@media screen and (max-width: 420px)
{
	.modal-window{
		width: 90vw;
		margin-left: 5vw;
	}
	.modal-header p{
		font-size: 0.8rem;
		margin: 5px;
	}
	.modal-body button{
		font-size: 0.8rem;
		width: 70vw;
	}
	.modal-body input{
		width: 76vw;
	}
}
@media (min-width: 768px) and (max-width: 1280px)
{
	.modal-window{
		width: 90vw;
		margin-left: 5vw;
	}
	.modal-header p{
		font-size: 1rem;
		margin: 5px;
	}
	.modal-body button{
		font-size: 1.4rem;
		width: 80vw;
	}
	.modal-body input{
		width: 80vw;
		font-size: 1rem;
		text-align: center;
	}
	.modal-header h2{
		font-size: 1.8rem;
	}
}
@media (width : 1024px) and (height: 1366px)
{
	.modal-window{
		margin-top: 10vh !important;
	}
	.modal-header p{
		font-size: 1.7rem;
		margin: 5px;
	}
	.modal-header h2{
		font-size: 2.4rem;
	}
	.modal-body input{
		width: 80vw;
		font-size: 2rem;
		text-align: center;
	}
	.modal-body button{
		font-size: 2rem;
		width: 80vw;
	}
}

.modal-body i{
	z-index: 2000;
	width: 26px;
	float: left;
	text-align: center;
	
}
@media screen and (max-width: 320px)
{
	.modal-body i{
	
	font-size: 0.8rem;

	
}
}
@media screen and (min-width: 768px)
{
	
}

@media screen and (min-width: 1400px)
{
	
}
@media (min-width: 1100px) and (max-width: 1400px)
{
	
}

.close {
	z-index: 2000;
position: absolute;
right: 32px;
top: 32px;
width: 32px;
height: 32px;
opacity: 0.5;
cursor: pointer;
}
.close:hover {
opacity: 1;
}
.close:before, .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 33px;
width: 2px;
background-color: #333;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}
.close:hover:before,
.close:hover:after{
	background-color: red;
}
.errorName{
	position: relative;
	border: 2px solid green !important;
	border-bottom: 2px solid green !important !important;
}
.ErrorEmail{
border: 2px solid green !important;
	border-bottom: none !important !important;
}
@media screen and (max-width: 720px)
{
	.before-name:before{
	position: absolute;
	content: '*';
	color: red;
	width: 1% !important;
	height: 1% !important;
	text-align: center;
	z-index: 1000 !important;
	font-size: 3rem;
}
.before-email:before{
	position: absolute;
	content: '*';
	color: red;
	width: 1% !important;
	height: 1% !important;
	text-align: center;
	z-index: 1000 !important;
	font-size: 3rem;
}

}
.before-name:before{
	position: absolute;
	content: '*';
	color: red;
	left: 32%;
	margin-top: -1%;
	width: 1% !important;
	height: 1% !important;
	text-align: center;
	z-index: 1000 !important;
	font-size: 3rem;
}
.before-email:before{
		position: absolute;
	content: '**';
	color: red;
	left: 32%;
	margin-top: -2%;
	text-align: center;
	z-index: 1000 !important;
	font-size: 3rem;
}

.body-our-portait
{
	margin-top: 3vh;
display: flex;
width: 100%;
align-items: center !important;


box-shadow: -0.6px -0.6px 5px 1px rgba(0,0,0, 1);
background:none;

}
.Roman{
	margin-left: auto;
	display: flex;
	align-items: center;
	width: 50%;
	flex-direction: column;
	justify-content: center;
		padding: 15px;
		text-align: center;
}
.Roman,
.Nikita{
	color: #fffffff2;
}
.Nikita{
	margin-left: auto;
	display: flex;
	width: 50%;
	justify-content: center;
	align-items:center; 
flex-direction: column;
	padding: 15px;
	text-align: center;
}
.body-our-portait img{
	position: relative;
	border-radius: 50%;
	max-width: 100px;
	width: 100%;
	transition: .6s;
	cursor: pointer;
}
.body-our-portait img:hover{
	transform: translateY(-20px);
	transform: rotate(360deg);
}
.social-ul li:hover  a{
	color: white !important;
	transition: all .4s;
}
@media screen and (max-width: 480px)
{
	.body-our-portait *{
		font-size: 0.7rem;
	}
}
.body{
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	height: 200vh;
	scroll-behavior: smooth;
	z-index: 0;
	position: relative;
	display: flex !important;
	flex-direction: column !important;
	flex-wrap: wrap !important;
	align-items: flex-start !important;
	justify-content: flex-start;
	overflow: hidden;
}

.Main-second{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 4vh;
}
.Main-second-body-container{
	background: none;
	box-shadow: 0 0 5px 1px rgba(0,0,0, .8);
	display: inline-flex;
	width: 33%;
	padding: 0.5%;
	height: 44vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: .5s;
	cursor: pointer;
}
.Main-second-body-container h2{
	transform: translateY(50px);
	transition: all .5s;
	color: #ffffff91;
}
.Main-second-body-container p{
	font-size: 2rem;
	transform: translateY(-40px);
		transition: all .5s;
		color: #ffffff91;
	opacity: 0;
}
.Main-second-body-container:hover p{
	transform: translateY(5px);
	text-align: center;
	transform: translateY(0px);
	opacity: 1;
}
.Main-second-body-container:hover h2{
	transform: translateY(-40px);
	opacity: 0;
}



.Main-second-body{
	position: relative;
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
}
.Main-second-body-container:before{
	content: '';
	position: absolute;
	
	
	
	top: 25%;
	width: 20%;
	height: 50%;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	transition: ease .4s;

	transform: scaleX(0);
}
.Main-second-body-container:hover:before
{
	transform: scaleX(1);
}
.Main-second-all{
	width: 100%;
}
.our-team{
	transform: translateY(10%);
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	font-size: 1.4em;
}
.our-works{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 4vh;
	flex-direction: column;
}
.our-works-title{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
@media (max-width: 767px)
{
	.Main-second-body
	{
		font-size: 0.9em;
		height: 33vh;
		padding: 0px !important;

	}
	.Main-second-body-container h2{
		font-size: 0.7rem;
	transform: translateY(30px);
	transition: all .5s;
	color: #ffffff91;
}
.Main-second-body-container p{
	font-size: 0.7rem;
	transform: translateY(-20px);
		transition: all .5s;
		color: #ffffff91;
	opacity: 0;
}
.Main-second-body-container
{
	height: 33vh;
}
}
.our-works-body{
	margin-top: 6vh;
	width: 60%;
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	box-shadow: 0 0 10px 3px rgba(0,0,0, .4);
}
.our-works-body img{
	position: relative;
	max-width: 100%;
	max-width: 8.5vw;
	cursor: pointer;
}

.our-works-col span:before{
	position: absolute;
	content: 'See More';
	width: 100%;
	height: 100%;
	left: 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 200;
	color: white;
	background: rgba(0,0,0, .3);
	transform: scale(0);
	transition: all .4s;
	border: none;
	padding: 0;
	margin: 0;
}

.our-works-col2 span:before{
	position: absolute;
	content: 'See More';
	width: 100%;
	height: 100%;
	left: 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 200;
	color: white;
	background: rgba(0,0,0, .3);
	transform: scale(0);
	transition: all .4s;
	border: none;
	padding: 0;
	margin: 0;
}
.our-works-col3 span:before{
	position: absolute;
	content: 'See More';
	width: 100%;
	height: 100%;
	left: 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 200;
	color: white;
	background: rgba(0,0,0, .3);
	transform: scale(0);
	transition: all .4s;
	border: none;
	padding: 0;
	margin: 0;
}

.our-works-col span:after{
position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	margin: 0 auto;
	z-index: 200;
	color: white;
	border-top: 2px solid rgba(255,255,255, 1);
	border-bottom: 2px solid rgba(255,255,255, 1);
	transform: scaleX(0);
	transition: all .4s;
}
.our-works-col2 span:after{
position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	margin: 0 auto;
	z-index: 200;
	color: white;
	border-top: 2px solid rgba(255,255,255, 1);
	border-bottom: 2px solid rgba(255,255,255, 1);
	transform: scaleX(0);
	transition: all .4s;
}

.our-works-col3 span:after{
position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	margin: 0 auto;
	z-index: 200;
	color: white;
	border-top: 2px solid rgba(255,255,255, 1);
	border-bottom: 2px solid rgba(255,255,255, 1);
	transform: scaleX(0);
	transition: all .4s;
}

.our-works-col2:hover span:before
{
	transform: scale(1);
}
.our-works-col2:hover span:after
{
	transform: scaleX(1);
}

.our-works-col3:hover span:before
{
	transform: scale(1);
}
.our-works-col3:hover span:after
{
	transform: scaleX(1);
}
.our-works-col:hover span:before
{
	transform: scale(1);
}
.our-works-col:hover span:after
{
	transform: scaleX(1);
}
.our-works-col span{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.our-works span{
	cursor: pointer;
}
.our-works-col2 span{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.our-works-col3 span{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media screen and (max-width: 768px)
{
.our-works-body img{
	max-width: 100%;
	max-width: 20vw;
}
}

@media (min-width: 768px) and (max-width: 939px)
{
.our-works-body img{
	max-width: 100%;
	max-width: 12.5vw;
}
}
@media (min-width: 939px) and (max-width: 1100px)
{
.our-works-body img{
	max-width: 100%;
	max-width: 12.5vw;
}
}
@media screen and (max-width: 768px)
{
	.our-works-body{
	margin-top: 3vh;
	width: 100%;
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}
	.our-works-body img{
	max-width: 100%;
	max-width: 20vw;
		}
}

.our-works-body-col{
		width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.our-works-col{
	width: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.our-works-col2{
	width: 15%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}
.our-works-col3{
	width: 15%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}
.our-works-body-col2{
		width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.our-works-body-col3{
		width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer{
	display: flex;
	width: 100%;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	background: rgba(0,0,0, .92);
}
.footer-body{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.footer-body-left{
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	padding: 1rem;
}
.footer-body-left  span{
	color: white;
	font-size: 1.1rem;
	padding: 0.3rem;
	text-align: center;
	width: 100%;
}
.footer-body-left i{
	text-align: center;
	color: white;
	font-size: 1.1rem;
	padding: 0.3rem;
}
.footer-body-center{
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	padding: 0.5rem;
}
.footer-body-right{
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	padding: 0.5rem;
}
.footer-body-left-title h2{
color: white;
padding: 0.6rem;
	border-bottom: 3px solid white;
}
.footer-body-center-title h2{
color: white;
padding: 0.6rem;
	border-bottom: 3px solid white;
}
.footer-body-right-title h2{
	color: white;
	padding: 0.6rem;
	border-bottom: 3px solid white;
}
@media screen and (max-width: 768px)
{
	.footer-body-left-title h2{
color: white;
padding: 0.4rem;
	border-bottom: 2px solid white;
font-size: 1.1rem;
}
.footer-body-center-title h2{
color: white;
padding: 0.4rem;
	border-bottom: 2px solid white;
font-size: 1.1rem;
}
.footer-body-right-title h2{
	color: white;
	padding: 0.4rem;
	border-bottom: 2px solid white;
	font-size: 1.1rem;
}
.footer-body-left  span{
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.5rem;
	padding: 0.4rem;
}
.footer-body-left i{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	font-size: 0.5rem;
	padding: 0.4rem;
}
}
.footer-body-center-data{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	text-align: center;
}
.footer-body-center-data a{
	color: white;
	text-decoration: none;
	font-family: 'Mansalva', cursive;
	padding: 0.1rem;
	transition: all .3s;
}
.footer-body-center-data a:hover{
	background: rgba(0,0,0, .3);
}
